<!-- header.component.html -->
<!-- Spinner Start -->

<!-- Spinner End -->

<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a routerLink="new/home" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">TriPPins</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a routerLink="new/index" class="nav-item nav-link">Home</a>
                        <a routerLink="new/about" class="nav-item nav-link">Nuestro Staff</a>
                        <a routerLink="new/rooms" class="nav-item nav-link">Alojamientos</a>
                        <a routerLink="new/register" class="nav-item nav-link">Registrate</a>
                        <a *ngIf="isUser()" routerLink="new/housing/creation" class="nav-item nav-link">Nuevo Hotel</a>
                        <a *ngIf="isAdmin()" routerLink="new/admin" class="nav-item nav-link">Admin</a>
                    </div>
                    <div *ngIf="authService.isLoggedIn(); else loginButton">
                        <div class="d-flex align-items-center">
                            <a routerLink="new/profile" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">
                                Bienvenido, {{ username}}
                            </a>
                            <button (click)="logout()" class="btn btn-danger rounded-0 py-4 px-3 d-none d-lg-block ms-2">
                                <i class="fas fa-sign-out-alt"></i>
                            </button>
                        </div>
                    </div>
                    <ng-template #loginButton>
                        <a routerLink="new/login" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">
                            Iniciar Sesion <i class="fas fa-lock"></i>
                        </a>
                    </ng-template>
                </div>
            </nav>
        </div>
    </div>
</div>