
    <div class="container-xxl bg-white p-0">


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Registro</h1>
                    <nav aria-label="breadcrumb">
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Login Begin -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row justify-content-center"> <!-- Centra horizontalmente -->
                    <div class="col-lg-6"> <!-- Define el ancho del formulario -->
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form  action="/v1/api/users/forms" method="post">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                                            <label for="nombre">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                            <label for="correo">Correo Electronico</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="dni" placeholder="Your DNI" pattern="[0-9]{8}[A-Z]" maxlength="9" title="8 números y una letra mayúscula al final" required>
                                            <label for="dni">DNI</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="number" placeholder="Your Phone Number" required>
                                            <label for="numero">Numero de Telefono</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" name="password" placeholder="Contraseña" oninput="checkmatch()" required>
                                            <label for="contrasenia"> Crear Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" name="Password2" placeholder="Contraseña" oninput="checkmatch()"  required>
                                        <label for="Password2"> Repetir Contraseña</label>
                                    </div>
                                    <p>¿Ya tienes cuenta? <a href='/login'>Iniciar Sesion.</a></p>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Crear Cuenta</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- Fin de row con centrado -->
            </div>
        </div>
        <!-- Login End -->
        <br><br><br><br><br>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


