
    <div class="container-xxl bg-white p-0">
        <!-- Header Start -->
        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(assets/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Reservas</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Staff</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Our Team</h6>
                    <h1 class="mb-5">Conoce nuestro <span class="text-primary text-uppercase">Staff</span></h1>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-2 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card h-100 shadow">
                            <div class="card-img-top overflow-hidden" style="height: 200px;">
                                <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/sergio.jpg"
                                    alt="Sergio Villagarcia">
                            </div>
                            <div class="card-body text-center p-4">
                                <h5 class="card-title fw-bold mb-0">Sergio Villagarcia</h5>
                                <small class="card-text">Director de Malas Decisiones</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="card h-100 shadow">
                            <div class="card-img-top overflow-hidden" style="height: 200px;">
                                <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/Steven.jpg"
                                    alt="Steven Adrados">
                            </div>
                            <div class="card-body text-center p-4">
                                <h5 class="card-title fw-bold mb-0">Steven Adrados</h5>
                                <small class="card-text">CEO de su casa</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="card h-100 shadow">
                            <div class="card-img-top overflow-hidden" style="height: 200px;">
                                <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/willy.jpg"
                                    alt="Guillermo Blazquez">
                            </div>
                            <div class="card-body text-center p-4">
                                <h5 class="card-title fw-bold mb-0">Guillermo Blazquez</h5>
                                <small class="card-text">Director de INSeguridad</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="card h-100 shadow">
                            <div class="card-img-top overflow-hidden" style="height: 200px;">
                                <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/Juan Antonio.jpg"
                                    alt="Juan Antonio Alcalde">
                            </div>
                            <div class="card-body text-center p-4">
                                <h5 class="card-title fw-bold mb-0">Juan Antonio Alcalde</h5>
                                <small class="card-text">Coordinador de Excusas Estratégicas</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                        <div class="card h-100 shadow">
                            <div class="card-img-top overflow-hidden" style="height: 200px;">
                                <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/ruben.jpg"
                                    alt="Ruben Alcojor">
                            </div>
                            <div class="card-body text-center p-4">
                                <h5 class="card-title fw-bold mb-0">Ruben Alcojor</h5>
                                <small class="card-text">Desorientador Social</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <!-- Team End -->





        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>