
    <!-- Page Header -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(assets/img/carousel-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Nuevo Hotel</h1>
            </div>
        </div>
    </div>

    <!-- House Creation Form -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form [formGroup]="houseForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                            <div class="row g-3">
                                <!-- Name Field -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" formControlName="name"
                                            placeholder="Nombre del Hotel"
                                            [ngClass]="{ 'is-invalid': houseForm.get('name')?.invalid && houseForm.get('name')?.touched }">
                                        <label>Nombre</label>
                                        <div *ngIf="houseForm.get('name')?.invalid && houseForm.get('name')?.touched"
                                            class="invalid-feedback">
                                            Name is required
                                        </div>
                                    </div>
                                </div>

                                <!-- Location Field -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" formControlName="location"
                                            placeholder="Ubicacion"
                                            [ngClass]="{ 'is-invalid': houseForm.get('location')?.invalid && houseForm.get('location')?.touched }">
                                        <label>Ubicacion</label>
                                        <div *ngIf="houseForm.get('location')?.invalid && houseForm.get('location')?.touched"
                                            class="invalid-feedback">
                                            Location is required
                                        </div>
                                    </div>
                                </div>

                                <!-- Price Field -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" formControlName="price"
                                            placeholder="Precio €"
                                            [ngClass]="{ 'is-invalid': houseForm.get('price')?.invalid && houseForm.get('price')?.touched }">
                                        <label>Precio €</label>
                                        <div *ngIf="houseForm.get('price')?.invalid && houseForm.get('price')?.touched"
                                            class="invalid-feedback">
                                            Valid price is required
                                        </div>
                                    </div>
                                </div>

                                <!-- Description Field -->
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control"
                                            placeholder="Introduce una descripcion del alojamiento"
                                            formControlName="description" style="height: 150px"
                                            [ngClass]="{ 'is-invalid': houseForm.get('description')?.invalid && houseForm.get('description')?.touched }"></textarea>
                                        <label>Descripcion del Alojamiento</label>
                                        <div *ngIf="houseForm.get('description')?.invalid && houseForm.get('description')?.touched"
                                            class="invalid-feedback">
                                            Description is required
                                        </div>
                                    </div>
                                </div>

                                <!-- Image Field -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="file" class="form-control" formControlName="image" (change)="onFileChange($event)"
                                            [ngClass]="{ 'is-invalid': houseForm.get('image')?.invalid && houseForm.get('image')?.touched }">
                                        <label>Imagen del Hotel</label>
                                        <div *ngIf="houseForm.get('image')?.invalid && houseForm.get('image')?.touched"
                                            class="invalid-feedback">
                                            Image is required
                                        </div>
                                    </div>
                                </div>

                                <!-- Tags Field -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" formControlName="tags"
                                            placeholder="Tags (separados por comas)">
                                        <label>Tags (separados por comas)</label>
                                    </div>
                                </div>

                                <!-- Stars Field -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <label>Estrellas (0-5):</label>
                                        <input type="range" class="form-range" formControlName="stars" min="0" max="5"
                                            step="1" value="0" (input)="updateStarsValue($event)">
                                        <br><br>
                                        <output style="color: rgb(255, 179, 0);">{{starsValue}}</output>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit"
                                        [disabled]="houseForm.invalid || isSubmitting">
                                        {{ isSubmitting ? 'Creating...' : 'Crear Nuevo Hotel' }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br>
